
$primary : #511D43;
$primaryBg : #fa86dba8;

.header-section{
  height: 70px;
  position: sticky;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid $primary;
  background-color: $primaryBg;
  color: $primary;
}
