html {
  overflow-x: hidden;
  scroll-behavior: auto ;
}
body {
  position: relative;
  background: white;
  font-size: 14px;
  overflow-x: hidden;
  --padding-top: env(safe-area-inset-top);
  --padding-end: env(safe-area-inset-right);
  --padding-bottom: env(safe-area-inset-bottom);
  --padding-start: env(safe-area-inset-left);
  margin: 0;
  box-sizing: border-box;
}
